<p>All Artists</p>

<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
  </tr>
<% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.bio %></td>
  </tr>
<% end %>
</table>
